h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: crimson;
    font-style: italic;
    text-align: center;
    background: chartreuse;
  }
  p {
    font-family: 'Franklin Gothic Medium';
  }
  ul {
    line-height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  img {
    float: right;
    width: 350px;
  }